.ant-layout-header {
  background: white !important;
}

.content {
  min-height: calc(100vh - 112px) !important;
}

.header {
  background: white;
  width: 100%;
}

.footer {
  background: black;
  width: 100%;
}
