.input {
    padding: 0 55px !important;
    border-width: 0 !important;
    font-size: 19px !important;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif !important;
    background: #f2f2f2 !important;
    height: 55px !important;
    color: #151720 !important;
    border-radius: 29px 0px 0px 29px !important;
    transition: all 0.2s linear !important;
    display: block;
    width: 100%;
    line-height: 1.42857143;
    background-image: none;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
}
